<section id="hero">
  <div class="header">
    <img src="https://drive.google.com/uc?export=view&id=14kpxPs619jzC8nBiW7gw3VIDh91vadQn" alt="TheeTree" class="center">
  </div>
 <div style="width: 400px; margin: 0 auto; text-align: center;">
   <nav>
     <h1 style="margin-top: 0; font-size: 24px;">Our Story</h1>
     <ul>
       <li>Home</li>
       <li>About</li>
       <li>Contact</li>
       <li>Log in</li>
     </ul>
   </nav>
   <div class="content">
      <p style="font-size: 14px; margin-top: 20px; color: #A9A9A9;">Using the past to tell the future</p>
 </div>
    <div class="contentp">     
     <p style="text-align:center; font-size: 14px; margin-top: 20px; color: #A9A9A9;">TheeTree alleviates the ambiguity of the diagnosis process and provides transparency in family health history while maintaining anonymity. TheeTree is for families and providers alike to cohesively provide the best care for patients by accounting for diseases within patient lineage, documenting pharmaceutical and medical records, and establishing clear communication between care providers.
</p>
      </div>
 </div>
</section>
{% block content %}
{% endblock content %}
  <style>
  footer {
    text-align: center;
    padding: 3px;
    background-color: #03989e;
    color: white;
  }
  </style>
<footer>
  <meta charset="UTF-8">
  <p style="font-size: 14px; margin-top: 20px; color: #A9A9A9;"><a style = "color: #44A08D;font-size: 14px;" href="https://acmutsa.org">Copyright Notice</a> <a style = "color: #44A08D;font-size: 14px;" href="https://acmutsa.org">Privacy Policy</a> <a style = "color: #44A08D;font-size: 14px;" href="https://acmutsa.org">Contact Information</a></p>
  <p style="font-size: 14px; margin-top: 20px; color: #A9A9A9;">
    <a style = "color: #44A08D;font-size: 14px;" href="https://www.instagram.com/acmutsa/?hl=en"> <img src="https://cdn.iconscout.com/icon/free/png-512/instagram-1865894-1581910.png?w=512&f=avif" width=25px height=25px></a>
    <a style = "color: #44A08D;font-size: 14px;" href="https://twitter.com/acmutsa?lang=en"> <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Twitter-logo.svg/225px-Twitter-logo.svg.png" width=25px height=25px></a>
    <a style = "color: #44A08D;font-size: 14px;" href="https://www.youtube.com/c/ACMUTSA"> <img src="https://www.logo.wine/a/logo/YouTube/YouTube-Icon-Full-Color-Logo.wine.svg" width=25px height=25px></a>
  </p>
  <p style="font-size: 14px; margin-top: 20px; color: #A9A9A9;">&#169 2023 &#127810</p>
</footer>
